# Dependencies
node_modules/

# Build artifacts
build/
dist/

# Configuration files
.env
.env.*

# Package manager lock files
package-lock.json
yarn.lock

# IDE specific files
.vscode/
.idea/

# System files
*.log
*.cache
Thumbs.db
.DS_Store